.DS_Store
.mypy_cache
.vscode
.gitattributes
__pycache__

data*
output*
prepared_data*

*.pdf
*.log
*_output.ipynb
*.lock*
*.old
*.run_config.yml

playground.ipynb

!data/deposits*
!data/regions.geojson