.DS_Store
.mypy_cache
.vscode
.gitattributes
__pycache__

/data_prepared/
/data_extracted/
/data_source/mantle_outputs/
/output/
/scripts/
/playground/

*.pdf
*.log
*_output.ipynb
*.lock*
*.old
*.run_config.yml
*.history

!/data/deposits/
!/data/deposits/*
!/data/regions.geojson