.DS_Store
.mypy_cache
.vscode
.gitattributes
__pycache__

data*
output*
prepared_data*
scripts*
playground*

*.pdf
*.log
*_output.ipynb
*.lock*
*.old
*.run_config.yml


!data/deposits*
!data/regions.geojson